.root {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 16.0px;
    -fx-base: #ebe7e4;
    -fx-background: #ebe7e4;
    -fx-focus-color: #1a1e21;
    -fx-control-inner-background: #f2f2f2;
    -fx-text-base-color: #3f464d;
    -fx-text-background-color: #3f464d;
    -fx-text-inner-color: #6a7054;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,58.721833721833704%) 0%, derive(-fx-color,8.654234654234664%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, -6.837606837606842%) 0%, derive(-fx-color, 16.90598290598291%) 50%, derive(-fx-color, 54.57264957264957%) 50.5%, derive(-fx-color, -16.837606837606828%) 100%);
}
.button, .toggle-button, .choice-box {
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 5px 12px 5px 12px;
}
.menu-button {
    -fx-background-radius: 5, 5, 4, 3;
}
.menu-button .label {
    -fx-padding: 5px 20px 5px 12px;
}
.menu-button .arrow-button {
    -fx-padding: 5px 8px 5px 0px;
}
.choice-box {
    -fx-padding: 0 8px 0 0;
}
.choice-box .label {
    -fx-padding: 5px 6px 5px 8px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 10px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 5px 8px 5px 8px;
}
.check-box .box {
    -fx-padding: 0.32142857142857145em;
}
.radio-button .radio {
    -fx-padding: 0.4047615714285714em;
}
.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 2, 3;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 2, 3;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 2, 3;
}
.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
